@charset "UTF-8";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}

.sr-only {
    position: absolute;
    left: -9999px;
}

/********* container *********/
.container {
    width: 1296px;
    margin: 0 auto;
}

/********* header *********/
header {
    height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.header-title {
    float: left;
    font-size: 30px;
    line-height: 8px;
    font-weight: 400;
}

nav {
    text-align: center;
    margin-top: 35px;
}

.nav-list {
    display: inline-block;
    font-weight: 600;
}

.nav-list > li {
    display: inline-block;
}

.nav-list > li:not(:last-child) {
    margin-right: 50px;
}

.nav-icon {
    float: right;
    margin-top: -19px;
}

.nav-icon > a {
    font-size: 20px;
}

.nav-icon > a:not(:first-of-type) {
    margin-left: 30px;
}

/********* main *********/
main {
    padding-top: 150px;
}

.today-kakak {
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -1px;
}

.today-title {
    font-weight: bold;
    padding-top: 27px;
    line-height: 81px;
    padding-left: 84px;
    position: relative;
}

.today-title::before {
    content: '';
    background-image: url(img/ico_date11.gif);
    background-size: 74px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 29px;
    left: 0;
}

.today-date {

}

/********* content *********/
.content {
    padding-top: 95px;
    display: flex;
    flex-wrap: wrap;
}

/* item-news 공통 */
.item-news {
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
    position: relative;
    transition: .5s;
}

.item-news:hover {
    transform: translateY(-5px);
}

.item-news .icon-news {
    padding: 25px 24px 0;
    display: block;
}

.icon-news .megaphone {
    width: 36px;
    height: 36px;
    vertical-align: bottom;
}

.icon-news .speech-balloon {
    height: 34px;
    border-radius: 13px;
    font-size: 13px;
    background-color: #eee;
    width: 72px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    position: relative;
}

.icon-news .speech-balloon::before {
    content: "";
    position: absolute;
    background: url(img/balloon-tail.svg);
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
}
.item-news .link-news {
    cursor: pointer;
}

.link-news .title-news {
    display: block;
    padding: 0 24px;
    margin: 13px 0 50px 0;
}

.link-news img {
    display: block;
    width: 100%;
}

.item-news .tag-news {
    font-size: 14px;
    color: #666;
    position: absolute;
    top: 178px;
    left: 24px;
}

.item-news .btn-share {
    position: absolute;
    top: 37px;
    right: 18px;
    font-size: 19px;
    color:#b1b1b1;
    border: none;
    background: none;
}

.half-height {
    height: 185.5px;
}
/* item-news 공통 끝 */

.sticky {
    position: sticky;
    top: 264px;
}

.content .main-news, .content .sub-news {
    margin: 0 18px;
    width: 612px;
}

.main-news .item-news .link-news .title-news {
    font-size: 32px;
    line-height: 45px;
}

.content .sub-news {
    position: relative;
    height: 832px;
}

.sub-news .item-news {
    width: 288px;
    position: absolute;
}

.sub-news .left-side {
    left: 0;
}

.sub-news .right-side {
    right: 0;
}

.sub-news .item-news .title-news {
    font-size: 22px;
    line-height: 32px;
    height: 64px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 40px;
}

.sub-news .item-news img:nth-child(2) {
    display: block;
    height: 223px;
}

.top-zero {
    top: 0;
}

.top-215 {
    top: 215.5px;
}

.top-431 {
    top: 431px;
}

.top-646 {
    top: 646.5px;
}

.top-703 {
    top: 703px;
}

.top-862 {
    top: 862px;
}

.content .height-1048 {
    height: 1048px;
}

.top-498 {
    top: 498px;
}

.sub-news .item-news .tag-news {
    top: 149px;
}

/********* culture *********/
.culture {
    height: 540px;
    margin: 30px 18px;
    padding: 54px 66px 0;
    border-radius: 14px;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 5px 40px 0 rgba(128, 119, 119, 0.08);
}

.culture .title-culture {
    display: block;
    font-size: 42px;
    color: #000;
}

.culture .link-culture {
    display: inline-block;
    height: 36px;
    margin-top: 36px;
    padding: 9px 20px 0;
    border-radius: 42px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #000;
    vertical-align: top;
}

.culture .link-culture i {
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.culture img:nth-child(3) {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 50px auto 0;
}

.culture img:last-child {
    display: none;
}
